body {
    background-color: #fff; font-family: Serif; font-size: 15pt;
}
.container { 
    margin: 0;
    border: none;
}
h1#top { 
    margin: 0;
    padding: 0;
    text-indent: 0; line-height: 25pt; font-size: 25pt;
}
